
<div class="navbar">
  <a class="nav__link nav__link--active" routerLink="">
    <i class="material-icons nav__icon" >home</i>
    <span class="nav__text">Home</span>
  </a>
  <a href="#" class="nav__link" routerLink="categories">
    <i class="material-icons nav__icon" >category</i>
    <span class="nav__text">Categories</span>
  </a>
  <a href="#" class="nav__link" routerLink="search">
    <i class="material-icons nav__icon" >search</i>
    <span class="nav__text">Search</span>
  </a>
  <a href="#" class="nav__link" routerLink="offers">
    <i class="material-icons nav__icon" >local_offer</i>
    <span class="nav__text">Offers</span>
  </a>
  <a href="#" class="nav__link" routerLink="basket">
    <i class="material-icons nav__icon" >add_shopping_cart</i>
    <span class="nav__text">Plum Cart</span>
  </a>
</div>
