
<span class="category">Shop By Category</span>
<mat-list>
    <mat-list-item>
        <i class="material-icons ">insert_photo</i>
        <h3 mat-subheader> Fruits & Vegetables </h3>
    </mat-list-item>
    <mat-divider></mat-divider>

        <p mat-line class="sub__list">All Fruits & Vegetables</p>
        <mat-divider></mat-divider>
        <p mat-line class="sub__list">Fresh Vegetables</p>
    
        <mat-divider></mat-divider>
    <mat-list-item>
        <i class="material-icons ">insert_photo</i>
        <h3 mat-subheader> Foodgrains,Oil & Masala </h3>
    </mat-list-item>
    <mat-divider></mat-divider>

    <p mat-line class="sub__list" >All Fruits & Vegetables</p>
    <mat-divider></mat-divider>
    <p mat-line class="sub__list">Fresh Vegetables</p>

    <mat-divider></mat-divider>
    <mat-list-item>
        <i class="material-icons ">insert_photo</i>
        <h3 mat-subheader> Bakery, Cakes & Dairy </h3>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <i class="material-icons ">insert_photo</i>
        <h3 mat-subheader> Beverages </h3>
    </mat-list-item>
    <mat-divider></mat-divider>

</mat-list>