
.bank__offers{
    display: flex;
    margin: 0 0 3% 0;
    border: 2px solid rgb(204, 50, 50);
    border-radius: 5px;
}
.bankOffer__img{
    padding: 2% 0px 0px 0px;

}
.deal__img{
    padding: 2% 0px 0px 0px;
}